<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openwan.dao.DouYinDao">
	
    <insert id="insertEmail"   parameterType="com.openwan.model.DouYinUrl" >
        insert into douyin (  url,ip ,datetime)
				values( #{url},#{ip},#{dateTime})
     
  	</insert>  
  	

</mapper>